<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Plutos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="hero" style="background-image: url('URL_DA_FOTO_DE_FUNDO');">
    <div class="hero-text">
        <h5>O'z Plutos</h5>
        <img src="{{ url_for('static', filename='imagens/pluto.png') }}" class="hero-image"/>
        <h4>Abaixo, selecione sua opção de desejo</h4>
    </div>
    <div class="auth-links">
        {% if profile_data %}
            <a href="{{ url_for('logout') }}" class="btn">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="btn">Login</a>
        {% endif %}
        <a href="{{ url_for('grades') }}" class="btn">Boletins</a>
        <a href="{{ url_for('profile') }}" class="btn">Meu Perfil</a>
    </div>
</body>
</html>
