<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body class="hero" style="background-image: url('https://i.scdn.co/image/ab6761610000e5eb5114aa3f93ee335c3a7cf2dc');">
    <div class="content">
        <h1>O'z Plutos</h1>
        <p>Deseja ver seu perfil ou seu boletim? Clique no botão abaixo para fazer o login.</p>
        <a href="{{ url_for('login') }}" class="btn">Login</a>
    </div>
</body>
</html>
