<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Perfil do Usuário</title>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo, {{ name }}</h1>
         <!-- Exibindo a foto de perfil -->
         {% if profile_data %}
         <img src="{{ profile_data.url_foto_150x200 }}" class="card-img-top img-fluid" alt="Foto de Perfil">
     {% else %}
         <p>Foto de perfil: não disponível.</p>
     {% endif %}

     <p>Aluno: {{ profile_data['nome_usual'] if 'nome_usual' in profile_data else 'Não disponível' }}</p>
     <p>Email: {{ profile_data['email'] if profile_data['email'] else 'Não disponível' }}</p>
     <p>Outras informações: {{ profile_data['other_info'] if profile_data['other_info'] else 'Não disponível' }}</p>

     
        
        <a href="{{ url_for('grades') }}" class="btn">Ver Boletins</a>
    </div>
</body>
</html>